<div class="flex flex-col fill">
  <mic-header>
    <div class="flex flex-row xs-flex-col w-full">
      <mic-sidebar-toggler [alwaysDisplay]="true" id="main-sidebar-toggler" type="left"></mic-sidebar-toggler>

        <mic-logo ariaLabel="Homepage - Michelin - Design System" type="group"></mic-logo>
        <form class="flex flex-row flex-1 justify-center self-center h-max md-hidden"  role="search">
            <mat-form-field class="mic-form-field-white w-1on2">
            <input
                matInput
                type="text"
                aria-label="Search"
                formControlName="input"
                [matAutocomplete]="searchResults"
                placeholder="Search..."
                autocomplete="off"
            />
            <button mat-icon-button matSuffix>
                <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
            <mat-autocomplete #searchResults="matAutocomplete">
                <mat-option
                >
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
        </form>
        <div class="flex flex-row flex-none gap-2 items-center">
          
          <button mat-icon-button class="mic-icon-button-medium" aria-label="Set theme" (click)="setTheme()">
            <mat-icon>{{ lightmode ? 'light_mode' : 'bedtime' }}</mat-icon>
          </button>
        </div>
        <div class="flex flex-row flex-none gap-2 items-center xs-justify-end">
            <mic-navbar-profile src="../../assets/images/user.png"></mic-navbar-profile>
            <mic-navbar-icon icon="logout"></mic-navbar-icon>
        </div>
    </div>
</mic-header>


  
  <mic-sidebar-container leftToggler="main-sidebar-toggler">
    <mic-sidebar position="start">
      <mic-sidebar-item link="/" icon="home" label="Home"></mic-sidebar-item>
      <mic-sidebar-item link="/customer" icon="person" label="Customer"></mic-sidebar-item>
      <mic-sidebar-spacer></mic-sidebar-spacer>
      <mic-sidebar-item link="settings" icon="settings" label="Settings"></mic-sidebar-item>
    </mic-sidebar>
    <mic-main-content main>
      <div class="flex flex-col fill justify-between" content>
        <div class="sidebar-container-content">
          <router-outlet></router-outlet>
        </div>
        <mic-footer>
            <div class="xs-self-center"></div>
            <div class="xs-self-center">Copyright © {{ year }}</div>
            <div class="version xs-self-center">Version {{ version }}</div>
        </mic-footer>
      </div>
    </mic-main-content>
  </mic-sidebar-container>
  <mic-alert-center [hideDelay]="8"></mic-alert-center>
</div>
