mic-footer {
  p {
    font-size: 15px;
  }
  .teams a,
  .version {
    font-size: 0.6875rem;
  }
}

.title {
  font-family: 'Michelin Unit Titling';
  font-size: 1.5em;
  font-weight: bold;
}

.version {
  font-size: 11px;
}
